<p>Login</p>   
<%= form_tag sessions_path do %>   
<%= label_tag :email%><br/>   
<%= text_field_tag :email%><br/>   
<%= label_tag :password%><br/>   
<%= password_field_tag :password%><br/>   
<%= label_tag :remember_check%><br> 
<%= check_box_tag :remember_check, 'yes', true %><br> 
<%= submit_tag "Login"%><br/>
<%end%>
<p>If you don't have a login go to Sign Up form</p> 
<%= button_to "Sign Up", new_user_path, method: :get%>
<img src="https://raw.githubusercontent.com/matthieuBA/s6j2-gossip-project/master/gossip.gif" alt="this slowpoke moves"  width=100%/>