

<% @gossips.each do |gossip| %>

<% user = User.find_by(id: gossip.user_id) %>
<div class="list-group">

  <a href="<%= gossip_path(gossip.id) %>" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= gossip.title %></h5>
      
      <small class="text-muted"><%= gossip.updated_at %></small>
    </div>
    
    <% gossip_comments_count = gossip.comments.all.count %>
    <% gossip_likes_count = gossip.likes.all.count %>
    <p class="mb-1"><%= gossip.content %></p>
    </a>
    

<a href="/gossips/<%= gossip.id %>/comment/<%= gossip.id %>" class="list-group-item list-group-item-action"> Comments : <%= gossip_comments_count %> <p class="mb-1">Likes (<%= gossip_likes_count %>)</p></a>

    <a href="<%= user_path(user.id) %>" class="list-group-item list-group-item-action">User : <%=user.first_name%>  <%=user.last_name%></a>
        <% if logged_in? %>
    <% pre_like = gossip.likes.find { |like| like.user_id == session[:user_id]} %>
<% if pre_like %>
  <%= button_to 'Unlike', gossip_like_path(gossip, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', gossip_likes_path(gossip), method: :post %>
<% end %>
<%end%>
   <% if user.id == session[:user_id] %>
   <a href="<%= gossip_path(gossip.id) %>" class="btn btn-danger" data-confirm="etes vous sur de vouloir supprimer ce gossip ?" data-method="DELETE"> SUPPRIMER</a>
   <% end %>

</div>
<br/>
<% end %>





