<% flash.each do |key, value| %>
<div id="close" class="<%= flash_class(key) %>" role="alert">
  <%= value %>
</div>
<% end %>
<% if logged_in? %>
<h1>You are Logged As : , <%= current_user.email %></h1>
<%= button_to "Se déconnecter", session_path(session.id), method: :delete %>
<% else %>
<%= button_to "Login", new_session_path, method: :get%>
<%= button_to "Sign Up", new_user_path, method: :get%>
<%end%>






<% @gossips.each do |gossip| %>

<% user = User.find_by(id: gossip.user_id) %>
<div class="list-group">

  <a href="<%= gossip_path(gossip.id) %>" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= gossip.title %></h5>
      
      <small class="text-muted"><%= gossip.updated_at %></small>
    </div>
    
    <% gossip_comments_count = gossip.comments.all.count %>
    <p class="mb-1"><%= gossip.content %></p>
    </a>
    <a href="/gossips/<%= gossip.id %>/comment/<%= gossip.id %>" class="list-group-item list-group-item-action"> <%= gossip_comments_count %> </a>
    <a href="<%= user_path(user.id) %>" class="list-group-item list-group-item-action"> <%=user.first_name%>  <%=user.last_name%></a>
    
   <% if user.id == session[:user_id] %>
   <a href="<%= gossip_path(gossip.id) %>" class="btn btn-danger" data-confirm="etes vous sur de vouloir supprimer ce gossip ?" data-method="DELETE"> SUPPRIMER</a>
   <% end %>
</div>
<br/>
<% end %>





