

<% flash.each do |key, value| %>
<div id="close" class="<%= flash_class(key) %>" role="alert">
  <%= value %>
</div>

<% end %>
<form action= <%= gossips_path %> method="POST">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
  <p>Gossip Title : </p>
  <input type="text" name="gossip_title"><br/>
  <p>Gossip Content : </p>
  <input type="text" name="gossip_content"><br/>
  <input type="submit" value="create gossips"><br/>
</form>
<% if @gossip.errors.any? %>
  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

